<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <label for="user">User:</label>
    <input id="user" formControlName="userID" type="number" required>
  
    <h3>Menu Items</h3>
    <ul>
      <li *ngFor="let item of menuItems">
        <span>{{ item.name }} - {{ item.price | currency }}</span>
        <input type="number" placeholder="Quantity" (change)="onAddItem(item.menuItemID, $event, item.price)">
      </li>
    </ul>
  
    <button type="submit">Place Order</button>
  </form>
  